@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /*フォントサイズ変数 --　ここを変えると全体に反映*/
  --font-2xs:  12px;    /*バッジ、カウント*/
  --font-xs:   13px;    /*ラベル、メタ情報*/
  --font-sm:   14px;    /*本文・説明文*/
  --font-base: 15px;    /*メインコンテンツ*/
  --font-lg:   16px;    /*セクション見出し*/
  --font-xl:   24px;    /*ページタイトル*/
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
